body{
	background: #ccc;
	margin: auto;
	max-width: 100%;
}

#title{
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
}

.image{
	width: 100%;
}
.subtitle{
	font-weight: bold;
	margin: 0;
}

.footer{
	font-style: italic;
	text-align: center;
}
