body{
	background: #ccc;
	margin: auto;
	width: 100%;
}

#cabecalho{
	background-image: url("https://static.cdprojektred.com/cms.cdprojektred.com/16x9_big/12be2f64c7d173240da985140a7a4656d0094af6-1920x1080.jpg");
	background-size: 100%;
	width: auto;
	height: auto;
}





