.flex-container{
    display: flex;
    border: 1px solid black;
    max-width: 1000px;
    flex-wrap: wrap;

}

.item{
    background-color: lightgreen;
    color: black;
    text-align: center;
    margin: 5px;
}

.basis-auto{
    flex-basis: auto;
}

.basis-zero{
    flex-basis: 0;
}

.fg-1{
    flex-grow: 1;
}

.fg-2{
    flex-grow: 2;
}

.width-100{
    flex-basis: 100px;
}