.container{
    display: flex;
    max-width: 350px;
    border: 1px solid black;
}

.item{
    background-color: purple;
    color: white;
    margin: 5px;
    flex: 1;
    text-align: center;
}

.center{
    align-items: center;
}

.stretch{
    align-items: stretch;
}

.start{
    align-items: flex-start;
}

.end{
    align-items: flex-end;
}

.baseline{
    align-items: baseline;
}

.column{
    flex-direction: column;
}

.central{
    height: 300px;
    justify-content: center;
}

.central .item{
    flex: 0;
    padding: 20px;
}